/* write your styles here */

body{
    padding: 0%;
    margin: 0%;
}

marquee{
    background-color: #ed484c;
    color: white;
    padding-bottom: 1px solid black;
}

#nav-bar{
   position: fixed;
}

#logo{
    padding: 7px 17px;
    position: absolute;
}

a{
    text-decoration: none;
    display: inline;
    color: #a0a0a0;
}
    
#nav {
    display: flex;
    justify-content: flex-end;
    background-color: #4c4c4c;
    padding: 10px;
}

#nav nav ul {
    list-style-type: none;
    padding: 0px;
   margin: 0px;
}

#nav nav ul li {
    display: inline;
    font-size: 14px;
    padding-right: 28px;
}

#introduction{
    background: url(images/floral.png);
    background-color: #f18d97;
    padding: 1px;
}

h1{
    font-size: 55px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#introduction p{
    text-align: center;
    font-size: 40px;
    padding: 22px 145px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#introduction button{
    padding: 15px 40px;
    letter-spacing: 1px;
    background-color: #160d0e;
    border: none;
    color: #c76664;
    margin: 1em 45em;
    font-size: bold;
}

#services{
    background: url(images/floral.png);
    background-color: #efece7;
    padding: 1px;
}

.service-list{
    display: inline-flex;
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.service-list i{
    font-size: 90px;
    display: flex;
    justify-content: center;
}

.service-list figcaption{
    font-size: 22px;
    text-align: center;
}

#portfolio{
    background: url(images/floral.png);
    background-color: #ddceb4;
    padding: 1px;
}

#portfolio p{
    text-align: center;
    font-size: 30px;
    padding: 22px 145px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#project-1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

#project-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact{
    background: url(images/floral.png);
    background-color: #afc7c6;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-btn button{
    font-size: 24px;
    border-radius: 35px;
    text-align: center;
    padding: 12px 19px;
    border: .5px solid black;
    color: #212121;
    background-color: #00000000;
    margin: 12px;
}

footer{
    background-color: #212121;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}






